@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    box-sizing: border-box;
}

html, body, #root {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    min-height: 100vh;
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.navbar {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9999;
}
